.auth-forms {
    max-width: 500px;
    margin: 0 auto;
}
.auth-form-group {
    margin-bottom: 15px;
}
.auth-form label {
    display: block;
}
.auth-form input:not([type="checkbox"]), .auth-form textarea {
    width: 100%;
}
.auth-title {
    text-align: center;
    margin-bottom: 30px;
}
.auth-avatar {
    width: 300px;
    height: 300px;
    margin: 0 auto 30px;
}
.auth-avatar form, .auth-avatar form label, .auth-avatar .avatar-image {
    width: 100%;
    height: 100%;
}
.auth-avatar .avatar-image {
    border-radius: 150%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.auth-avatar .avatar-image-icon {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}
.auth-avatar .avatar-image-icon svg {
    width: 30px;
    height: 30px;
}
.auth-avatar img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 150%;
    -moz-border-radius: 150%;
    border-radius: 150%;
    object-fit: cover;
}
.auth-form-row {
    display: flex;
    justify-content: space-between;
}
.auth-form-row .auth-form-group {
    width: 48%;
}
.auth-form-group label {
    font-size: 16px;
}
.form-mess {
    color: red;
    font-size: 13px;
}
.auth-password {
    margin-top: 50px;
}
.update-password-title {
    text-align: center;
}
#avatar input[type="file"] {
    display: none;
}
#avatar .form-mess {
    text-align: center;
}
.auth-forms .tab-titles {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.auth-forms .tab-titles .tab-title {
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}
.auth-forms .tab-titles .tab-title.active {
    text-decoration: underline;
}
.auth-forms .auth-forms-item {
    display: none;
}
.auth-forms .auth-forms-item.active {
    display: block;
}
.auth-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    padding: 0 30px;
    background-color: #2424e9;
    color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

